
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #e74c3c;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #e74c3c;
}
/******2.0*******/
.logo{
    color: #A52A2A;
    padding: 20px 0;
    border-bottom: 1px solid #A52A2A;
    margin-bottom: 15px;
    cursor: pointer;


    /*text effect*/
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
}

.menu-item{
    background-color: #F2635F;
    height: 90px;
    line-height: 90px;
    border-right: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    letter-spacing: .08em;
    padding-left: 10px;
}
.menu-item.active{
    background-color: #F38576;
}

.menu-item:nth-of-type(2) {
    border-left: 1px solid #fff;
}
.menu-item:hover{
    background-color: #004C70;
    color: #fff;
    cursor: pointer;
}

.second-row > div{
    color: #fff;
    border-right: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    margin-top: 5px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
.weekly{
    min-height: 340px;
    background-color: #365F77;
    padding-left: 10%;
}
.weekly h2, .weekly h3, .weekly h4{
    color:#F2F2C2;
}
.weekly table {
    margin-top: 10px;
    color: #F2F2C2;
}
.weekly table tr td{
    padding-bottom: 10px;
}
.warm-welcome h4{
    text-align: center;
    font-family: cursive;
    font-size: 26px;
    color: #f0f0f0;
}

.who-is-jesus{
    min-height: 340px;
    background-color: #1E475F;
    text-align: center;
    cursor: pointer;
}
.who-is-jesus:hover{
    background-color: #365F77;
}
.who-is-jesus h2{
    line-height: 50px;
    font-weight: bolder;
    color: #F4D00C;
}
.third-row > div{
    background-color: #1E475F;
    height: 300px;
    color: #fff;
    border-right: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    text-align: center;
    line-height: 30px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    cursor: pointer;
}
.third-row >div:hover{
    background-color: #365F77;

}
.third-row h1{
    color: #F2F2C2;
    margin-top: 80px;
}
.third-row h4,.third-row h5{
    color: #FFF;
}

.fourth-row div{
    background-color: #e7e5e4;
    height: 350px;
    color: #131313;

    border-top: 1px solid #c9c9c9;
    margin-top: 10px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    letter-spacing: .10em;

}
.line-divider{
    margin-bottom: 10px;
    border-bottom: 1px solid #A52A2A;
    padding-bottom: 10px;

}

/******2.0.END*******/
.highlight {
  height: 435px;
  background: url(/img/front_highlight_bg.jpg) no-repeat top center;
}
.highlight .highlight-text {
  margin-top: 70px;
  margin-left: 20px;
}
.highlight h1 {
  font-size: 37px;
}
.highlight h1,
.highlight h4 {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.highlight h4 {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
}
.nav-wrap {
  margin-top: 20px;
  background: #dff1f7;
  overflow: auto;
  //font-weight: bold;
}
.nav-wrap .btn-apply {
  display: block;
  margin: 34px 20px 20px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
.nav-wrap .navigation {
  list-style-image: url('/img/list_icon.png');
  font-size: 15px;
}
.nav-wrap .navigation li {
  margin-bottom: 11px;
}
.search-form {
  background: #2c3e50;
  padding: 12px 25px 25px 25px;
  margin-bottom: 15px;
  color: #fff;
}
.search-form label  {
  float: left;
  color: #999999;
  margin: 5px 10px 0 10px;
}

.search-form  h4 {
  color: #fff;
}

.search-form .language {
  width: 100%;
}
.search-form .date {
  width: 100px;
}
.search-results .btn-join {
  font-size: 16px;
  font-weight: bold;
}
.search-results .btn-join .arrow {
  font-size: 22px;
  line-height: 1px;
}
.search-results .join {
  vertical-align: middle;
  width: 115px;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.dot-green {
  background: #179b43;
}
.dot-yellow {
  background: #ffba00;
}
.dot-red {
  background: #ff5050;
}
.dot-orange {
  background: #f89406;
}
.dot-black {
  background: #000000;
}
.news {
  background: #e8f3ff;
  padding: 25px 0 40px 0;
}
.news .news-header {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.news .line {
  position: absolute;
  left: 0;
  top: 28px;
  width: 100%;
  height: 1px;
  background: #333333;
}
.news .news-section-title {
  position: relative;
  display: inline-block;
  zoom: 1;
  line-height: 30px;
  font-size: 30px;
  font-weight: normal;
  margin: 0 auto;
  background: #e8f3ff;
  padding: 10px 25px;
}
.news .news-item img {
  margin-bottom: 20px;
  width: 100%;
}
.news .news-item-title {
  color: #fff;
}

.active{
  background-color: #3e5871;
}

.bordered{
    border: 1px solid #e6e6e6 !important;
    padding: 10px;
}

.blue-bg{
  background: #2c3e50;
  color: #fff;
}
.blue-bg h5{
  color: #fff;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #000;
  background-color: #688aac;
}

.sermon-content {
    color: #233140;
}
