    <div class="col-xs-12 content app">
    
    <a  [routerLink]="['/Elders']" class="btn btn-primary">ELDERS</a>
    <a   class="btn btn-info">ATTENTION</a><!--['/Members/elder/, 1']-->
    <a  [routerLink]="['/Analytics']" class="btn btn-warning">ANALYTICS</a>


    <!--<elders [elders]="elders"></elders>-->


    <!-- Routed views go here -->
    <router-outlet></router-outlet>

</div>