<div class="top-line" style="margin-top: 10px;"></div>


<table class="table elders">
    <tr class="bg-success" *ngFor="#elder of elders">
    	
        <td>
        <a (click)="goToEldersMembers(elder)">
        	{{elder.firstName|uppercase}}'S
            <span class="pull-right">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            </span>
        </a>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr class="bg-primary">
        <td>ALL MEMBERS
            <span class="pull-right">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            </span>
        </td>
    </tr>
</table>