<div class="text-info bg-info" style="
    height: 40px;
    width: 100%;
    margin: 10px 0;
    padding: 0px 10px;
">
    <!--<h4 class="pull-left">{{elderName}}'s</h4>-->
    <a (click)="goHome()" class="pull-left" style="line-height: 38px;">BACK</a>
</div>
<table class="table members">
    <tr class="bg-success" *ngFor="#member of members">
    	
        <td>
        <a (click)="showDetail(member)">
        	{{member.firstName}} {{member.lastName}}
            <span class="pull-right">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            </span>
        </a>
        <div [class.hidden]="member.id !== selectedMember.id" class="member-inputs">
            <input name="firstName" placeholder="first Name" [ngModel]="selectedMember.firstName">
            <input name="lastName" placeholder="last name" [ngModel]="selectedMember.lastName">
            <input name="email" placeholder="email" [ngModel]="selectedMember.email">
            <input name="phoneNumber" placeholder="phone" [ngModel]="selectedMember.phoneNumber">
            <p>Attendance:<br>
                <span *ngFor="#attendance of selectedMember.attendance" class="members-attendance-list btn"
                [class.btn-success]="attendance === 1"
                [class.btn-warning]="attendance === 0">
                    {{attendance}} 
                </span>
            </p>
            <div class="member-actions">
                        <a class="btn btn-danger">Mark for Attention</a>
                        <a class="btn btn-warning">Mark as contacted</a>
                        <a class="btn btn-info">Show contact history</a>
                        <a class="btn btn-primary">Save</a>
              </div>
        </div>
        </td>
    </tr>
</table>
