body{margin-top:15px;font-family:Roboto,Arial,sans-serif;font-size:16px}

.member-inputs {
    background: #c6e4b4;
    padding: 15px;
    margin: 10px;
}

.member-actions a, .member-inputs input{
	width: 100%;
	margin: 5px 0;
}

.members-attendance-list{
	padding: 5px 6px;
    border: 1px solid #6a9f61;
    border-right: none;
}

.members-attendance-list:last-of-type {
    border-right: 1px solid #6a9f6a;
}